<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Remote file for create/edit NetFlow probe</title>
</head>
<body>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="modal_title" class="modal-title">New NetFlow probe</h4>
    </div>
    <div class="modal-body">
        <div>
            <form id="probe_form">
                <table id="input_probe_form" class="table">
                    <tr>
                        <td>
                            <p>
                                <label>Hostname:</label>
                                <input id="hostname_probe" name="name_probe" type="text" class="form-control"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <label>Description:</label>
                                <input id="description" name="description" type="text" class="form-control"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <label>Address:</label>
                                <input id="address" name="address" type="text" class="form-control"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <label>Longitude:</label>
                                <input id="longitude" name="longitude" type="text" class="form-control"/>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <label>Latitude:</label>
                                <input id="latitude" name="latitude" type="text" class="form-control"/>
                            </p>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_probe_button">Save</button>
    </div>
    <script>
        // validace formulare
        $("#probe_form").validate({
            rules: {
                probe_name: "required",
                latitude: {
                    required: true,
                    number: true
                },
                longitude: {
                    required: true,
                    number: true
                },
            },
            messages: {
                probe_name: "Insert name",
                latitude: {
                    required: "Insert latitude",
                    number: "Value must be number"
                },
                longitude: {
                    required: "Insert longitude",
                    number: "Value must be number"
                },
            }
        });

        // kontrola zda se jedna o editaci, pokud ano predvyplni formular
        NetTMap.getInstance().prepare_probe_form();

        document.getElementById('save_probe_button').addEventListener('click', function () {
            if ($('#probe_form').valid()) NetTMap.getInstance().save_probe();
        });

    </script>

</body>
</html>