/*
    NetTMap css.
*/

svg {
  position: relative;
}

path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 8px;
}

path:hover {
  fill: brown;
  fill-opacity: .7;
}

#map_canvas {
  width: 800px;
  height: 500px;
}

.ui-tooltip, .qtip{
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    max-width: 900px;
    min-width: 6px;
    font-size: 10.5px;
    line-height: 12px;
}

.color_spectrum {
    height: 20px;
    width: 30px;
    stroke: black;
}

form label.error { 
    color:red; 
}

form input.error { 
    border:1px solid red; 
}

table { 
    white-space: nowrap; 
}

.axis {
    font-size: 12px;
}

.bar {
    fill: blue;
}
